In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings

In [2]:
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('rating.csv')

In [4]:
df = df.iloc[:50000,:]
df.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [5]:
rating_table = df.pivot_table(values='rating', index=['user_id'], columns=['anime_id'])
rating_table = rating_table.replace(-1,np.nan)
rating_table

anime_id,1,5,6,7,8,15,16,17,18,19,...,33341,33372,33421,33522,33524,33558,33569,33934,34103,34240
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,8.0,NaN,NaN,6.0,NaN,6.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
529,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df2=pd.read_csv('animes.csv')
df2 = df2.loc[:,['uid','title','members']]
df2 = df2.rename(columns={'uid':'anime_id'})
df2['title']=df2['title'].str.lower()
df2.head()

   anime_id                             title  members
0     28891           haikyuu!! second season   489888
1     23273           shigatsu wa kimi no uso   995473
2     34599                     made in abyss   581663
3      5114  fullmetal alchemist: brotherhood  1615084
4     31758  kizumonogatari iii: reiketsu-hen   214621

In [7]:
df2[df2['title']=="zutto mae kara suki deshita.: kokuhaku jikkou iinkai"]

       anime_id                                              title  members
18223     31245  zutto mae kara suki deshita.: kokuhaku jikkou ...    99994

In [8]:
df = df.merge(df2, on = 'anime_id')
df

,user_id,anime_id,rating,title,members
0,1,20,-1,naruto,1280914
1,1,20,-1,naruto,1280914
2,3,20,8,naruto,1280914
3,3,20,8,naruto,1280914
4,5,20,6,naruto,1280914
...,...,...,...,...,...
71751,516,978,8,change!! getter robo: sekai saigo no hi,9391
71752,516,978,8,change!! getter robo: sekai saigo no hi,9391
71753,516,4554,8,dokkiri doctor,773
71754,526,2182,-1,robot carnival,13520
71755,528,2571,-1,mitsubachi maya no bouken,6257

In [9]:
rating_table = df.pivot_table(values='rating', index=['user_id'], columns=['title'])
rating_table = rating_table.replace(-1,np.nan)
rating_table

title,"""bungaku shoujo"" kyou no oyatsu: hatsukoi","""bungaku shoujo"" memoire","""bungaku shoujo"" movie",.hack//g.u. returner,.hack//g.u. trilogy,.hack//g.u. trilogy: parody mode,.hack//gift,.hack//intermezzo,.hack//liminality,.hack//quantum,...,zettai karen children: the unlimited - hyoubu kyousuke,zoids,zoids genesis,zoids shinseiki/zero,zoku natsume yuujinchou,zoku natsume yuujinchou: 3d nyanko-sensei gekijou,zombie-loan,zombie-loan specials,zonmi-chan: meat pie of the dead,zutto mae kara suki deshita.: kokuhaku jikkou iinkai
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN

In [10]:
rating_table['naruto'].isna().sum()

366

In [11]:
def find_same(anime):
    anime_rating = rating_table[anime]
    recommendation_table=pd.DataFrame(rating_table.corrwith(anime_rating), columns=["similarity"])
    recommendation_table=recommendation_table.join(df['members'])
    recommendation_table['members']=recommendation_table['members'].replace(np.nan, 0).astype(int)
    recommendation_table=recommendation_table.dropna()
    for similar_anime in recommendation_table.index:
        for ind in rating_table.index:
            if rating_table[similar_anime][ind]>0 and rating_table[anime][ind]>0:
                recommendation_table['members'][similar_anime]+=1         
    print(recommendation_table.sort_values(by='similarity',ascending=False)[recommendation_table['members']>=15].head(10))

In [12]:
find_same('haikyuu!! second season')

                             similarity  members
title
haikyuu!! second season        1.000000       20
haikyuu!!                      0.828264       20
kuroko no basket               0.400320       15
no game no life                0.367607       15
shingeki no kyojin             0.271751       18
tokyo ghoul                    0.264135       16
ao no exorcist                 0.225980       15
kuroko no basket 2nd season    0.144142       15
highschool of the dead        -0.005884       17
death note                    -0.010196       18

In [13]:
find_same('naruto')

                                                    similarity  members
title
naruto                                                1.000000      163
re:zero kara hajimeru isekai seikatsu                 0.817663       19
kokoro connect: michi random                          0.816265       16
maken-ki!                                             0.760660       17
myself; yourself                                      0.749729       16
overlord                                              0.732853       22
nyan koi!                                             0.732667       18
naruto movie 1: dai katsugeki!! yuki hime shino...    0.712252       23
naruto movie 3: dai koufun! mikazuki jima no an...    0.695131       17
naruto: shippuuden movie 1                            0.692528       20

In [14]:
find_same('fullmetal alchemist: brotherhood')

                                    similarity  members
title
fullmetal alchemist: brotherhood      1.000000      173
dragon ball                           0.735626       31
chuunibyou demo koi ga shitai! ren    0.719030       15
prison school                         0.631798       17
kenpuu denki berserk                  0.630846       15
jojo no kimyou na bouken (tv)         0.618142       16
inuyasha (tv)                         0.611805       22
hunter x hunter                       0.591181       19
chihayafuru                           0.578691       16
hunter x hunter (2011)                0.561455       39

In [15]:
find_same('death note')

                                                    similarity  members
title
death note                                            1.000000      255
motto to love-ru                                      0.855186       23
hajime no ippo                                        0.773422       19
ore no imouto ga konnani kawaii wake ga nai spe...    0.766200       18
working!!                                             0.763624       17
slam dunk                                             0.754233       17
ore no imouto ga konnani kawaii wake ga nai. sp...    0.751651       16
shijou saikyou no deshi kenichi                       0.746352       28
blood+                                                0.723317       28
neon genesis evangelion: death & rebirth              0.720702       18

In [16]:
find_same('higurashi no naku koro ni')

                               similarity  members
title
higurashi no naku koro ni        1.000000       79
higurashi no naku koro ni kai    0.706219       58
higurashi no naku koro ni rei    0.648267       27
vampire knight: guilty           0.602282       18
shigatsu wa kimi no uso          0.595880       16
nekomonogatari: kuro             0.590362       17
boku dake ga inai machi          0.523785       15
ookami kodomo no ame to yuki     0.501291       16
gekkan shoujo nozaki-kun         0.496609       16
toki wo kakeru shoujo            0.435401       23

In [18]:
find_same('tokyo ghoul')

                                                    similarity  members
title
tokyo ghoul                                           1.000000      114
hyakka ryouran: samurai girls                         0.926193       15
saenai heroine no sodatekata                          0.898840       17
shinmai maou no testament                             0.897261       18
code:breaker                                          0.873562       15
owari no seraph: nagoya kessen-hen                    0.861751       18
hamatora the animation                                0.860361       21
mikakunin de shinkoukei                               0.838973       16
shimoneta to iu gainen ga sonzai shinai taikuts...    0.830903       18
inu x boku ss                                         0.824118       22